@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO REMINDER LIST FOR YOU</h1>
    
    <p><a href="todo" class="btn btn-primary btn-large">ToDoList &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> อยากเขียนไรก็เขียน อิอิ</h2>
        <p>
           .........sdfojkwepfkmsdfklsdmflmdsfmkdslf
        </p>
        <p><a class="btn btn-default" href="https://google.co.th">GOOGLE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>อยากเขียนไรก็เขียน 2</h2>
        <p>nothing</p>
        <p><a class="btn btn-default" href=nothing> ไม่ได้ href ไว้เข้าไปก็ error  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>อยากเขียนไรก็เขียน 3 </h2>
        <p>qwertyuiop</p>
        <p><a class="btn btn-default" href="https://facebook.com">Facebook &raquo;</a></p>
    </div>
</div>